<ion-modal-view class="tavla-dialog-adjust">
    <ion-header-bar class=" bar bar-header bar-stable">
        <h1 class="title">Så bra, hva har du gjort?</h1>
        <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="">
        <div class="row responsive-sm">
            <div class="col">
                <div class="list list-inset">
                    <div class="list-item">
                        <button class="button button-positive button-large button-full" ng-click="vm.buster()">Tur med Buster</button>


                        <button class="button button-positive button-large  button-full" ng-click="vm.taskClick(task)" ng-repeat="task in vm.tavlaService.tavlaSetting.tasks|taskEnabledForUser:vm.user">{{task.data.name}} <small>({{task.data.points}} points)</small></button>

                        <button class="button button-energized button-small" ng-click="vm.taskClick({data:{taskTypeId:999}})">Nullstill poeng</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div><span  class="tavla-points">{{vm.points}}</span> <span class="tavla-pointsp">poeng</span> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-show="vm.user.alerts.length">

                        <div class="list-item_ _item-divider">
                            Dine warnings <span class="badge badge-assertive">{{vm.user.alerts.length}}</span>
                        </div>
                        <div class="tavla-text-alert"  ng-repeat="alert in vm.user.alerts">
                            {{alert.name}}
                            <span class="tavla-text-alert item-note" >
                                Siste gang: {{alert.last.format('dddd')}}
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div>Dine siste aktiviteter</div>
                        <div ng-repeat="d in vm.tavlaService.doneIts | latestForUser:vm.user ">
                            {{vm.getTaskNameForType(d)}}
                            <span class="item-note">
                                {{d.dateTime|date:'EEE dd.MM HH:mm'}}
                            </span>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="row">
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-clear button-block" ng-click="modal.hide()">Hakke gjort noe enda, men skal snart!</button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
