<ion-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button-clear" ng-click="$ionicGoBack()"><i class="ion-arrow-left-c"></i> Back</button>
        </div>
        <h1 class="title">Register new Family</h1>
    </ion-header-bar>
    <ion-content>

        <div class="card">
            <div class="item item-divider">
                General settings
            </div>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="vm.toCreate.familyName" placeholder="Family name">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="vm.toCreate.secret" placeholder="Secret word used when other members are registering">
            </label>
        </div>
        <div class="card">
            <div class="item item-divider">
                Main user / administrator
            </div>

            <label class="item item-input item-floating-label">
                <input type="text" ng-model="vm.toCreate.userName" placeholder="First name">
            </label>
            <label class="item item-select">
                <div class="input-label">
                    Calendar
                </div>
                <select ng-model="vm.toCreate.calendar" ng-options="c for c in vm.calendars">
                </select>
            </label>
        </div>
        <div class="card">
            <div class="item item-divider">
                Other users
            </div>
            <div ng-repeat="user in vm.toCreate.users">
                <div class="list">
                    <div class="item item-divider">
                        User {{vm.toCreate.users.indexOf(user)}} 
                       
                    </div>
                    <label class="item item-input item-floating-label">
                        <input type="text" ng-model="user.userName" placeholder="First name of family member">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Calendar
                        </div>
                        <select ng-model="user.calendar" ng-options="c for c in vm.calendars">
                        </select>
                    </label>
                    <button class="button button-clear button-assertive" ng-click="vm.removeUser(user)">
                        Remove
                    </button>
                </div>
            </div>
        </div>
        <button class="button button-clear button-positive" ng-click="vm.addUser()">
            Add family member
        </button>


        <button class="button button-block button-calm" ng-click="vm.register()">Register family</button>
        <pre>{{vm|json}}</pre>
    </ion-content>
</ion-view>