<ion-view view-title="Settings">
    <div class="bar bar-header bar-light">
        <h1 class="title">{{vm.title}}</h1>
    </div>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Enter name" ng-model="vm.user.name">
            </label>
            <label class="item item-select item-stacked-label">
                <span class="input-label">Calendar</span>
                <select ng-model="vm.user.calendars" ng-options="c.name as c.name for c in vm.calendars"></select>
            </label>
            <div class="item">
                {{vm.user.userId?'Has added Facebook or google login':'Not connected with Tavla'}}
            </div>
            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.user.isAdmin">
                </label>
                Is administrator
            </div>
            <div class="item ">
                <button class="button button-assertive" ng-click="vm.save()">
                    Save
                </button>
            </div>
        </div>
        <pre>{{vm|json}}</pre>
    </ion-content>
    
</ion-view>