.tavla-user-icon {
    color: silver;
}

.weather {
    display: inline;
    float: right;
}
.weather img {
    margin-bottom: 10px;
}
.weather span {
   top: -5px;

  position: relative;
    color: silver;
}

.tavla-points {
    height: 80px;

}
.tavla-points span {
    font-size: 70px;
  margin-top: 30px;
  display: inline-block;    
}