<ion-view view-title="Home">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="vm.refresh()">
        </ion-refresher>
        <div class="row responsive-sm">
            <div class="col" ng-repeat="day in vm.days | dayRange:0:2">
                <div class="list">
                    <div class="item item-divider">
                        {{day.date.format('dddd')}}
                        <div class="weather"><span class="ng-binding">{{vm.tavlaService.weather[$index].temperature}}C</span><img alt="symbol" ng-src="http://symbol.yr.no/grafikk/sym/b38/{{vm.tavlaService.weather[$index].symbolNumber}}.png"></div>



                        <!--<tavla-weather model="vm.tavlaService.weather[$index]" class="tavlaWeatherSmall" />-->
                    </div>
                    <a class="item item-icon-left" href="#" ng-repeat="item in day.items">
                        <i class="icon tavla-user-icon">{{::item.user.name[0]}}</i>
                        {{item.title}}
                        <span class="item-note">
                            {{item.dtstart|date:'HH:mm'}}
                        </span>
                    </a>
                    <!--<div class="item" ng-repeat="item in day.items">
                            {{item.title}}
                        </div>-->
                </div>
            </div>
            <div class="col">
                <div class="list" style="max-height: 400px;">
                    <div class="item item-divider">
                        Om noen dager
                    </div>
                    <div class="item item-icon-left" ng-repeat="item in vm.days| upcommingEvents:3:30">
                        <i class="icon tavla-user-icon">{{::item.user.name[0]}}</i>
                        {{item.title}}
                        <span class="item-note">
                            {{item.dtstart|date:'EEE dd MMM'}}
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <div class="item item-divider_">
                        Buster
                    </div>
                    <div class="item">
                        <button class="button button-assertive button-full" ng-hide="::(vm.tavlaService.doneIts|todaysOfType:1|hoursOld:4).length>0 " ng-click="vm.alertClick(1)">Buster må på tur!</button>
                        <div class="list list-inset">
                            <div class="list-item" ng-repeat="d in vm.tavlaService.doneIts | todaysOfType:1 ">
                                {{d.user}}
                                <span class="item-note">
                                    {{d.dateTime|date:'HH:mm'}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <button class="button" ng-repeat="user in vm.settings.members" ng-click="vm.showUserDialog(user)">{{user.name}}</button>

        </div>
    </div>
</ion-view>