<ion-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
    </ion-header-bar>

    <ion-content class="center">
        <div class="row">
            <div class="col">
                <button class="button button-large button-block button-positive" ng-click="vm.login()" type="submit">Log in</button>
                <span ng-show="vm.result.isLoggedIn">Logged in!</span>
            </div>
        </div>
    </ion-content>

    <!--<ion-content>

        <button class="button button-large button-block button-positive" ng-click="vm.login()" type="submit">Log in</button>
        <span ng-show="vm.result.isLoggedIn">Logged in!</span>
            <pre>{{vm|json}}</pre>
    </ion-content>-->
</ion-view>